# Jupyter Checkpoints
.ipynb_checkpoints

# Dataset
data/USState_Codes.csv
data/Aviation_Data_Cleaned.csv

# Zone Identifiers
*.Identifier

# Git attribute file
.gitattributes

# vscode folder
.vscode


